<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add favicon-->
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
</head>

<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    #bg {
        position: fixed; 
        top: -50%; 
        left: -50%; 
        width: 200%; 
        height: 200%;
    }
    #bg img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
    }
</style>

<body>
    <div id="bg">
        <img src = "static/img/error_page.png" alt = "">
    </div>
</body>
</html>